<h1>Pirate!</h1>


  <h3>Name: <%= @pirate.name %></h3>
  <h3>Height: <%= @pirate.height %></h3>
  <h3>Weight: <%= @pirate.weight %></h3>

  <h1>Ship(s)!</h1>
<% @ships.each do |ship| %>
    <h3>Ship name: <%= ship.name%></h3>
    <h3>Type: <%= ship.type%></h3>
    <h3>Booty: <%= ship.booty%></h3>
    <% end %>
